
body{
  color: white;
  background-color: black;
  font-size: 125%;
}

/* .landing-text{
  width: 50%;
} */

.cell{
  background-color: #1d1d1d;
  margin: 0.5em 1em 0.5em 0;
  min-height: 7rem;
  

  display: flex;
}

.l {
  min-width: 35vw;
  max-width: 35vw;
}
.r{
  min-width: 55vw;
  max-width: 55vw;
}



@media (max-width: 640px) {
  body{
    font-size: 90%;
  }
  .event-times{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .margintop-event{
    margin-top:4rem;
  }
  .margintop-small-prize{
    margin-top: 2rem
  }
}

.work-div{
  background: rgb(0,151,117);
  background: linear-gradient(90deg, rgba(0,151,117,1) 0%, rgba(40,91,197,1) 100%);
  padding: 1rem 3.5rem ;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-radius: 10px;
  font-size: 1.2rem;
}

.work-div .heading {
  font-size: 1.7rem;
}

.work-div li{
  list-style-type: disc;
}

.btn-trans{
  -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.landing{
  background-image: url("./assets/hero.png");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 330px) {
  .margintop-small{
    margin-top: 6rem;
  }
  .margintop-small-prize{
    margin-top: 2rem;
  }
  .margintop-participate{
    margin-top: 2.5rem;
  }
  .margintop-event{
    margin-top: 4rem;
  }
  .margin-top-partners{
    margin-top: 9rem;
  }
}

@media (max-width: 1234px){
  .navbar-media{
    margin-right: 10.5rem;
  }
}

.eventimg{
  height: 75vh;
}