
body{
  color: white;
  background-color: black;

}

.landing-img-div{
  max-width: 100vw;
}

.landing-img{
  width: 95%;
}

/* .landing-text{
  width: 50%;
} */

.cell{
  background-color: #1d1d1d;
  margin: 0.5em 1em 0.5em 0;
  min-height: 7rem;
  

  display: flex;
}

.l {
  min-width: 20vw;
  max-width: 30vw;
}
.r{
  min-width: 60vw;
  max-width: 60vw;
}

.cell-text{
  /* align-items: center; */
}

@media (max-width: 640px) {
  body{
    font-size: 90%;
  }
}
